@import "tailwindcss";
@source inline("text-*");

@theme {
  --color-primary-900: #0d2326;
  --color-primary-800: #13404a;
  --color-primary-700: #185c6e;
  --color-primary-600: #1d7992;
  --color-primary-500: #2095b6;
  --color-primary-400: #38b0c9;
  --color-primary-300: #6fd0db;
  --color-primary-200: #a3e6ed;
  --color-primary-100: #e0f8fa;

  --color-secondary-900: #6e1816;
  --color-secondary-800: #99211f;
  --color-secondary-700: #b82825;
  --color-secondary-600: #c92c2a;
  --color-secondary-500: #d63230;
  --color-secondary-400: #e05a56;
  --color-secondary-300: #ea8683;
  --color-secondary-200: #f3b3b0;
  --color-secondary-100: #fbe0de;

  --color-accent-900: #7a4a1a;
  --color-accent-800: #a05f22;
  --color-accent-700: #c6742a;
  --color-accent-600: #e08932;
  --color-accent-500: #f39237;
  --color-accent-400: #f6a95e;
  --color-accent-300: #f9c085;
  --color-accent-200: #fbd7ac;
  --color-accent-100: #fdefd3;

  --color-body-text: #2b303a;

  --color-input-disabled-text: #9ca3af;
  --color-input-disabled-bg: #f3f4f6;

  --typography-h1-size: 3rem;
  --typography-h2-size: 2rem;
  --typography-h3-size: 1.75rem;
  --typography-h4-size: 1.5rem;
  --typography-h5-size: 1.25rem;
  --typography-h6-size: 1.15rem;

  /* --typography-heading-family: "serif"; */
}
