@import "tailwindcss";
@import "@toolwind/anchors";
@source inline("text-*");

@theme {
  --color-primary-900: #0d2326;
  --color-primary-800: #13404a;
  --color-primary-700: #185c6e;
  --color-primary-600: #1d7992;
  --color-primary-500: #2095b6;
  --color-primary-400: #38b0c9;
  --color-primary-300: #6fd0db;
  --color-primary-200: #a3e6ed;
  --color-primary-100: #e0f8fa;

  --color-secondary-100: #ffedd5;
  --color-secondary-200: #ffd6a5;
  --color-secondary-300: #ffb86b;
  --color-secondary-400: #ff9800;
  --color-secondary-500: #ff8000;
  --color-secondary-600: #ff6600;
  --color-secondary-700: #ff4d00;
  --color-secondary-800: #ff3300;
  --color-secondary-900: #ff1a00;

  --color-input-disabled-text: #9ca3af;
  --color-input-disabled-bg: #f3f4f6;
}
